.footer {
    width: 100%;
    color: white;
    background-color: var(--clr-footer);
    
    width: 100%;
    min-height: 300px;
}
.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: auto;
    padding: 60px 1em;
}



.contact-me {
    display: flex;
    gap: 40px;
}
.footer__logo {
    
    height: 75px;
    width: 75px;
}
.footer__section-title {
    margin: 0;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: var(--fs-lg);
}
.footer__section-text {
    color: var(--clr-muted);
}

.social-icons {
    display: flex;
    gap: 40px;
}
.social-link {
    height: 50px;
    border-radius: 50%;
}
.social-icon {
    width: 50px;
    height: 50px;
}


@media (min-width: 585px) {

    

    .social-link{
        transition: 0.3s ease;
        transform: translateY(0);
        filter: blur(0) brightness(.9) saturate(1);

    }
    .social-icons:hover .social-link:not(:hover){
        filter: blur(1px) brightness(.4) saturate(.4);
    }
    .social-link:hover {
        transform: translateY(-5px);
    }
}

@media(max-width: 585px) {
    .footer-content {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    
}

@media (max-width: 800px){
    .footer__logo {
        display: none;
    }
}


.col.animated-sections:nth-child(2) {
    transition-delay: 200ms;
}
.col.animated-sections:nth-child(1) {
    transition-delay: 400ms;
}