.projects {
    /* display: grid; */
    width: 100%;
}
.projects .section-title {
    margin-bottom: 3rem;
}
.projects__description {
    color: var(--clr-muted);
    padding: 0em 1em;
}

.projects-list {
    gap: 60px;
    padding: 6rem 0;
}

.project-card {
    align-items: center;
}

.project-card-reversed {
    flex-direction: row-reverse !important;
}

.project__img {
    width: 100%;
}
.project__img img:first-child {
    aspect-ratio: 16/9;
    max-width: 100%;
    border: 0.5px solid rgba(117, 112, 112, 0.199);
}
.check-it-icon {
    pointer-events: none;
}
.projects__description {
    width: 100%;
}
.tag-list {
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.tag {
    border: 2px solid var(--clr-tags);
    color: var(--clr-muted);
    border-radius: 25px;
    padding: 0.5em 0.5rem;
}

@media (max-width: 767px) {
    .project-card {
        flex-direction: column !important;
        text-align: center;
    }

    .check-it-icon {
        display: none;
    }
    .tag-list {
        justify-content: center;
    }
    .project__description-text {
        padding: 2em 0.5em;
    }
}

@media (min-width: 768px) {
    .projects-list {
    }
    .projects__description {
        width: clamp(200px, 700px, 70vw);
        margin-left: auto;
        margin-right: auto;
        align-self: flex-start;
    }
    .project-card {
        gap: clamp(20px, 20vw, 50px);
        flex-direction: row;
    }
    .project__img a {
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .project__img {
        width: 50%;

        position: relative;
        transform: translate(0, 0);
        filter: drop-shadow(0 0 0 black) brightness(1);
        transition: 0.3s ease;
    }
    .project__img > img {
        border-radius: 15px;
        filter: drop-shadow(0 0 0 black) brightness(1);

        transition: 0.3s ease;
    }

    .project__img:hover {
        transform: translate(-10px, -10px);
    }
    .project__img:hover > img {
        filter: drop-shadow(16px 16px 0 black) brightness(0.5);
    }
    .project__img:hover .check-it-icon {
        opacity: 1;
        bottom: 30px;
        left: 40px;
    }
    .check-it-icon {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1000;
        bottom: 20px;
        left: 50px;
        opacity: 0;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .check-it-icon p {
        margin: 0;
        margin-top: 0.5rem;
        color: white;
    }

    .check-it-icon img {
        width: 60px;
        height: 60px;
        border: none;
    }
    .project__description {
        width: 50%;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
    }
    .project__description-title {
        margin: 0;
    }
    .project__description-text {
        padding: 1.5em 0;
    }
    .tag-list {
        margin-top: auto;
    }
}

.projects .animated-sections:nth-child(2) {
    transition-delay: 000ms;
}
.projects .animated-sections:nth-child(3) {
    transition-delay: 200ms;
}
.projects .animated-sections:nth-child(4) {
    transition-delay: 400ms;
}
