



.content {
  display: grid;
  place-items: center;
}
.section-title {
  color: var(--clr-primary);
  font-size: var(--fs-lg);
}

.d-grid-center {
  display: grid;
  place-items: center;
}
.d-flex {
  display: flex;
}
.d-flex-center {
  display: flex;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}

